*{
    margin: 0;
    padding: 0;

}

header{
    height: 200px;
    /* border: 1px solid red; */
    background-color: black;
}

.upheader{
    height: 10%;
    border: 1px solid black;
}

.downheader{
    height: 90%;
    border: 1px solid red;
    
}
h1{
    margin: 10px;
    color: white;
    border: 1px solid red;
    text-align: center;
    
}

header nav{
    
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header ul{
    margin: 5px;
    display: flex;
    list-style: none;
    
    
    
}

header li{
   
    margin-top: 40px;
    margin-right: 30px;
   
}


header a{
    text-decoration: none; 
    color: white;
   
}

header a::after{
    content: "";
    display: block;
    border-bottom: 1px solid white;
    margin: 10px auto;
}

.main-container{
    height: 600px;
    border: 1px solid dodgerblue;
  

}
main{
    height: 50%;


}

.main-header{
    border: 0.5px solid lightgray;
    height: 100%;
    width: 80%;

}
.sub-container{

    border: 1px solid darkblue;
    height: 80%;
    display: flex;
    justify-content: center;
}
.Task-header{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.list ul{
    margin-left: 5px;
    margin-top: 10px;
    border: 1px solid black;
}

.list li{
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
    font-weight: bold;
    
}

.completed{

    text-decoration: line-through;
    font-weight: lighter;
    color: gray;
}

main li::after{
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    
    margin-right: 10px;
}